@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}
